<h1 style="text-align: center;"><%= t(:edit_timesheet)%></h1>

<div id="form_container">
	
<%= render :partial => "timesheets/edit_timetable", :locals => {:all_grouped_options => @all_grouped_options, :params => params } %>

</div>
