/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@CHARSET "UTF-8";

body {
	font-family: "Arial", "Helvetica", sans-serif;
	color: #444;
}

div.centered {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #d0deea;
}

.errorCell {
	font-size: small;
	padding-bottom: 5px;
}